<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow  border-bottom border-top p-0">
    <div class="container">
      <a class="navbar-brand fs-4 fw-bold "><i class="fa fa-cart-shopping fs-4"></i><span
          class="textBlur">Big Basket</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li class="position-relative">
                <a class="dropdown-item hand" >Category Name</a>
                <ul class="dropdown-menu sub-menu" >
                  <li>
                    <a class="dropdown-item hand" routerLinkActive="router-link-active">Cat Name</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">About Us</a></li>
              <li><a class="dropdown-item">Contact Us</a></li>
              <li><a class="dropdown-item">Terms and Conditions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase text-black me-1 hand">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-solid fa-magnifying-glass fs-5" style="color: #0c0d0d;"></i></a>
          </li>
          <!-- cart -->
          <ng-container >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-cart-shopping fs-5 me-1" style="color: #202122;"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                  50
                </span>
              </a>
              <ng-container>
                <ul class="dropdown-menu menuOnLeft rounded-0 mt-2" aria-labelledby="navbarDropdown3">
                  <li class="p-2" >
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <img class="cartImg"  alt="...">
                        </div>
                        <div class="col-md-6">
                          <div>
                            <a class="text-decoration-none text-black fw-semibold">
                              <p class="m-0 p-0">tryrty</p>
                            </a>
                            <p>50<i class="fa-solid fa-xmark" style="color: #0d0d0d;"></i>500 INR</p>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button class="btn closeBtn float-end" style="height: auto;" ><i class="fa fa-xmark"></i></button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="p-2">
                    <div class=" w-100 ">
                      <div class="d-flex justify-content-between">
                        <h6>Sub Total :</h6>
                        <h6> 50 INR</h6>
                      </div>
                      <div class="d-flex justify-content-evenly mt-2">
                        <button class="btn btn-dark rounded-0 px-3"> View Cart</button>
                        <a routerLink="/checkout" routerLinkActive="router-link-active"> <button class="btn btn-danger rounded-0 px-3">Checkout</button></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </ng-container>
              <ng-container>
                <ul class="dropdown-menu menuOnLeft rounded-0 mt-2" aria-labelledby="navbarDropdown">
                  <li>
                    <p class="text-center mb-0">No Product Added to Cart</p>
                  </li>
                </ul>
              </ng-container>
            </li>
            <span class="d-flex">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-dark fw-bold"><i class="fa fa-user ms-3 me-1"></i> name </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li> <a class="dropdown-item hand" > Profile </a></li>
                  <li> <a class="dropdown-item hand" routerLink="/order-history" routerLinkActive="router-link-active">
                      Orders</a></li>
                </ul>
              </li>
              <li class="nav-item ms-4">
                <button class="btn btn-sm btn-danger logOutBtn" > <i class="fa fa-sign-out" aria-hidden="true"></i></button>
              </li>
            </span>
          </ng-container>
          <ng-container >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black  me-1"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user fs-5 me-1" style="color: #202122;"></i>
              </a>
              <ul class="dropdown-menu loginDropdownMenu" style="left:-50px" aria-labelledby="navbarDropdown">
                <li>
                  <div class="text-center">
                    <a ><button class="btn loginBtn rounded-2">Login</button></a>
                    <div class="regDiv">
                      <span>New customer? </span><a class="registerLink" >Start here.</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ng-container>
          <li class="nav-item">
            <a (click)="openLoginModal()"><button class="btn loginBtn rounded-2">Login</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<button (click)="confirm1($event)" label="Save"></button>
<p-confirmdialog>
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmdialog>
<!-- login modal starts -->
<div class="row">
  <div class="col-md-12">
    <form #loginFrm="ngForm">
      <p-dialog [header]="'Login'" [(visible)]="displayModalLogin"  [modal]="true" [style]="{width: '50vw'}"
        [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000"  [draggable]="false" [resizable]="false">
        <div class="row">
          <div class="col-md-12">
            <label class="my-1 fw-semibold">Mobile Number</label>
            <input type="tel" class="form-control" name="phone"
              required [pattern]="phonePattern" placeholder="Enter Mobile Number">
            <div class="validation-error">
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div id="password-input-container">
              <label class="my-1 fw-semibold">Password</label>
              <input  [type]="showLoginPassword?'text':'password'" class="form-control" name="UserPassword"  required [pattern]="passwordPattern"  pInputText placeholder="Enter Password">
                <span toggle="#password-field" class="fa fa-fw fa-eye hand password-eye" (click)="onEyeClick()"
                *ngIf="showLoginPassword == true"></span>
              <span toggle="#password-field" class="fa fa-fw fa-eye-slash hand password-eye" (click)="onEyeClick()"
                *ngIf="showLoginPassword == false"></span>
            </div>
            <div class="validation-error" >
              <div >Password is required</div>
              <div >Password must contain at least one uppercase letter, one
                lowercase letter, one digit, and one special character (#?!&#64;$%^&*-).</div>
            </div>
            <div class="mt-2">
              <div class="field field-checkbox">
                <p-checkbox class="rememberMeTxt pe-5" label="Remember me" inputId="rememberMeCheckbox" ></p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple class="p-button-success p-button-sm" label="Login">
            <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
          </button>
          <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Close" ></button>
        </ng-template>

      </p-dialog>
    </form>
  </div>
</div>
<!-- login modal ends -->
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
